/*All elements that have different property values for each media query
need to have all those properties defined in both queries. If the value
refains the same, a duplication of that property is not required.*/
@media only all and (min-width: 0px) {
  .loginBox {
    width: 500px;
    max-width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    backdrop-filter: blur(5px); /*Firefox requires config changes*/
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 black;
    margin-top: 60px;
    overflow-y: hidden;
    overflow-x: auto;
  }
}

@media only all and (min-width: 1000px) {
  .loginBox {
    margin-top: 140px;
  }
}
