/*All elements that have different property values for each media query
need to have all those properties defined in both queries. If the value
refains the same, a duplication of that property is not required.*/
@media only all and (min-width: 0px) {
  .navBar {
    z-index: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
  }
}

@media only all and (min-width: 1000px) {
  .navBar {
    z-index: -1;
    width: 750px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px 20px 0px 0px;
    box-shadow: 0px 2px 5px -1px grey;
  }
}
