/*All elements that have different property values for each media query
need to have all those properties defined in both queries. If the value
refains the same, a duplication of that property is not required.*/
@media only all and (min-width: 0px) {
  .contentBox {
    z-index: -1;
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;
  }

  .tabDisplayBox {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px 20px;
  }
}

@media only all and (min-width: 1000px) {
  .contentBox {
    z-index: -2;
    width: 750px;
  }
}
