.placesAutocompleteInput {
  width: 100%;
  height: 30px;
  position: relative;
  margin-top: 10px;
  background: none;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  color: darkgrey;
  font-family: "Poppins500", sans-serif;
  font-size: 14px;
  text-overflow: ellipsis;
  padding: 0 10px 0 40px;
  outline: none;
}

.searchIconBox {
  width: 20px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  touch-action: none;
  user-select: none;
}

/*Google Maps Places Autocomplete styling classes*/
.pac-container {
  box-sizing: border-box;
  margin: 0;
  padding: 10px 30px 10px 30px;
  background-color: rgba(80, 80, 80, 1);
  border-width: 0 2px 2px 2px;
  border-style: none solid solid solid;
  border-color: rgba(255, 215, 0, 1);
  border-radius: 0 0 20px 20px;
}

.pac-item {
  box-sizing: border-box;
  margin: 15px 0 15px 0;
  padding: 0;
  background: none;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: dimgrey;
  color: darkgrey;
  font-family: "Poppins500", sans-serif;
  font-size: 12px;
  text-overflow: ellipsis;
}

.pac-item:hover {
  background: none;
  border-color: white;
  cursor: pointer;
}

.pac-item-selected {
  background: none;
  border-color: white;
}

.pac-matched {
  color: black;
  font-family: "Poppins500", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.pac-item-query {
  margin-right: 10px;
  color: black;
  font-family: "Poppins500", sans-serif;
  font-size: 14px;
}
